* {
    box-sizing: border-box;

}

body {
    margin: 0;
}

#cardBodyCart p {
     margin: 0px 10px;
}

#title {
    margin: 0;
}

/* #productCardCart {
    min-height: 60vh;
} */

/* .cardBodyCart {
    display: flex;
    width: 50%;
}

.renderCardCart {
    display: flex;
    text-align: center;
} */